<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.ann.pee.studentappointment">

    <application
        android:name=".StudentAppointmentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ShowActivity" />
        <activity android:name=".FormActDefault"/>
        <activity android:name=".DropdownAct"/>
        <activity android:name=".AndroidSpinnerExampleActivity"/>
        <activity android:name=".FormActivity"/>
        <activity android:name=".FormLocationDefault"/>
        <activity android:name=".FormContactDefault"/>
        <activity android:name=".ActList"/>
        <activity android:name=".ShowAct"/>
        <activity android:name=".LocationList"/>
        <activity android:name=".ShowLocation"/>
        <activity android:name=".ShowContact"/>
        <activity android:name=".ContactList"/>

        <meta-data android:name="AA_DB_NAME" android:value="SA.db" />
        <meta-data android:name="AA_DB_VERSION" android:value="1" />
        <meta-data android:name="AA_MODELS" android:value="project.ann.pee.studentappointment.Task, project.ann.pee.studentappointment.Act,
        project.ann.pee.studentappointment.LocationsTB,project.ann.pee.studentappointment.ContactTB" />

    </application>


</manifest>
